<figure id="myMap"> </figure>

<div id="container-festivals">
    <table class="table table-sm table-success">
        <thead>
            <tr>
                <th scope="col">Festivales</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Pais</th>
            </tr>
        </thead>
        <tbody>
            {{#each festivals}}
            <tr>
                <td>{{name}}</td>
                <td>{{city}}</td>
                <td>{{country}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script src="./js/directions.js"></script>
<script src="./js/map-styles.js"></script>
<script src="./js/map-setup.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJQKY_4fQM-3INz7AXbWOxRcbeJqXQ9bE&callback=initMap"></script>