<div class="container mt-5  container-signup">

    <div class="row justify-content-center">
        <form action='/bandas/crear' method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="lastName">Descripción</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>

            <div class="form-group">
                <label for="photo">Foto</label>
                <input type="file" class="form-control" id="photo" name="photo">
            </div>

            <div class="form-group">
                <label for="photo">Vídeo</label>
                <input type="text" class="form-control" id="stream" name="stream">
            </div>
            {{!--
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ln3wAdRAim4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe> --}}


            {{#if errorMsg}}
            <p>
                {{errorMsg}}
            </p>
            {{/if}}
            <button type="submit" class="btn btn-primary">Crear Banda</button>
        </form>
    </div>

</div>